<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffd300" />

    <link href="style.css" rel="stylesheet" type="text/css" />

    <!-- PayPal BEGIN -->
    <script>
      (function (a, t, o, m, s) {
        a[m] = a[m] || [];
        a[m].push({ t: new Date().getTime(), event: "snippetRun" });
        var f = t.getElementsByTagName(o)[0],
          e = t.createElement(o),
          d = m !== "paypalDDL" ? "&m=" + m : "";
        e.async = !0;
        e.src = "https://www.paypal.com/tagmanager/pptm.js?id=" + s + d;
        f.parentNode.insertBefore(e, f);
      })(
        window,
        document,
        "script",
        "paypalDDL",
        "1355780b-b280-4100-980a-fb8ab003dfb3"
      );
    </script>
    <!-- PayPal END -->
  </head>

  <body>
    {% include fyb.html %}
    <h1>Mix Maison</h1>
    <div class="drinks-container">
      <!-- EW -->
      {% include drink.html id='EW' name='Esenchal Worker'
      ingredients='Highball: gin, sencha, sherbert, lemon' bearNum='0'%}
      <!-- AM -->
      {% include drink.html id='AM' name='Autoerotic Mastication'
      ingredients='Highball: vodka, mastic, rosemary, lemon, soda' bearNum='1'%}
      <!-- Sanitea -->
      {% include drink.html id='ST' name='Sanitea' ingredients='Straight up:
      vodka, darjeeling, vermouth, lemon' bearNum='2'%}
      <!-- Zoom Date -->
      {% include drink.html id='ST' name='Zoom Date' ingredients='On a rock:
      bourbon, date, bitters' bearNum='3'%}
      <!-- Vaccine -->
      {% include drink.html id='ST' name='Vaccine' ingredients='Frozen: tequila,
      jalapeno, strawberry' bearNum='4'%}
      <div class="drink">
        <img src="https://placebear.com/300/304" />
        <div class="som-notes">
          <p>Frozen: tequila, jalapeno, strawberry</p>
        </div>
        <div class="label"><span>Vaccine</span></div>
      </div>
      <div class="drink">
        <p class="instructions">
          Pick the cocktail you want and add it to your wino's shopping trolley.
          If you want more than one, just keep adding.
        </p>
        <form
          class="pay"
          target="paypal"
          action="https://www.paypal.com/cgi-bin/webscr"
          method="post"
        >
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="XU6HBLETMHXKW" />
          <table>
            <tr>
              <td>
                <input type="hidden" name="on0" value="Drinkie 1" />Pick a
                cocktail
              </td>
            </tr>
            <tr>
              <td>
                <select name="os0">
                  <option value="Esenchal Worker"
                    >Esenchal Worker $10.00 AUD</option
                  >
                  <option value="Autoerotic Mastication"
                    >Autoerotic Mastication $10.00 AUD</option
                  >
                  <option value="Sanitea">Sanitea $10.00 AUD</option>
                  <option value="Zoom date">Zoom date $10.00 AUD</option>
                  <option value="Vaccine">Vaccine $10.00 AUD</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <input
                  type="hidden"
                  name="on1"
                  value="Special timing or requests?"
                />Special timing or requests? You can't order for today yet, so
                tell us when you want us to come.
              </td>
            </tr>
            <tr>
              <td><input type="text" name="os1" maxlength="200" /></td>
            </tr>
          </table>
          <input type="hidden" name="currency_code" value="AUD" />
          <input
            type="image"
            src="https://www.paypalobjects.com/en_AU/i/btn/btn_cart_LG.gif"
            border="0"
            name="submit"
            alt="PayPal – The safer, easier way to pay online!"
          />
          <img
            alt=""
            border="0"
            src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif"
            width="1"
            height="1"
            class="paypal-spy-bullshit"
          />
        </form>
      </div>
    </div>
    <div class="explainer">
      <div class="launch-preview">
        <h1>Launch Preview</h1>
        <p>
          All cocktails are $18 normally, but until the 18<sup>th</sup>, as our
          launch special, drinkies are...ten bucks!!
        </p>
      </div>

      <h2>So, what's the deal here?</h2>
      <p>
        Quarantine makes us all
        <abbr title="In all the ways.">thirsty</abbr> and we've got a solution.
        If you live <a href="#where">near us</a>, order a cocktail and we'll
        drop one over. It'll come with the most beautiful block of ice you've
        ever seen, and a garnish.
      </p>
      <p>
        There's no need to be drab if you're being domestic! Be fancy for your
        Zoom happy hour, or add a bit of sparkle to your Netflix and [delete as
        apropriate].
      </p>
      <h2>When do we deliver?</h2>
      <p>
        Because we're all naughty children, we can't have things we want today,
        we have to wait until tomorrow.
      </p>
      <p>
        You can't order for today, it has to be for another day. Tell us what
        day you'd like when you order.
      </p>
      <h2 id="where">Where do we deliver?</h2>
      <p>If you're in the shaded bit, you're in luck!</p>
      <div class="map"></div>
      <p>If you're outside, get in touch and make it worth our while.</p>
    </div>
    <p class="order-another">
      <!-- <button class="button bears" id="bears-button">
        🐻 I want this website to have more bears!! 🐻
      </button> -->
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          document
            .getElementById("bears-button")
            .addEventListener("click", (ev) => {
              ev.preventDefault();
              let b = ev.target;
              if (b.classList.contains("bears")) {
                alert("Are you mad? There's so many bears already!");
                b.innerText = "🍸 OK, that's enough, put the drinks back 🍸";
              } else {
                b.innerText = "🐻 I want this website to have more bears!! 🐻";
              }
              b.classList.toggle("bears");
            });
        });
      </script>
    </p>

    <div class="legal">
      <p>
        It Is Against The Law To Sell Or Supply Alcohol To, Or To Obtain Alcohol
        On Behalf Of, A Person Under The Age Of 18 Years
      </p>
      <p>Licence Number: LIQP770017429</p>
      <p>ABN: 96619795851</p>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id=AWAkDYSh0ymJrHZcahRurQCX_VcEftVKQfCGUsF4FHZZqM1Gd-eHCsotBdhGh5q7mJQw5wkJ-u0LRJJD"></script>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>
  </body>
</html>
