@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Righteous&family=Titan+One&display=swap");
@import url(https://reset5.googlecode.com/hg/reset.min.css);

:root {
  --sick-as-pink: hsla(297, 100%, 48%, 0.9);
  --drink-base-height: 34vh;
}

body {
  background-image: linear-gradient(
    -135deg,
    #1400c8,
    #1400c8,
    #b900b4,
    #f50000,
    #b900b4,
    #1400c8,
    #1400c8,
    #b900b4,
    #f50000,
    #b900b4,
    #1400c8
  );
  background-size: 100vw 600vh;
  color: white;
  font-family: "Concert One", cursive;
  font-size: 21px;
  line-height: 1.3;
  margin: 0;
  padding: 0 1em 10em 1em;
}
@media only screen and (min-device-width: 500px) and (max-device-width: 830px) {
  body {
    background-size: 100vw 1500vh;
  }
}
div,
p {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
h1 {
  font-family: "Righteous", cursive;
  font-size: 300%;
}
a {
  text-decoration: none;
  color: hsl(54deg 100% 62%);
}
.pay {
  text-align: center;
}
.drinks-container {
  max-width: 50em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: auto;
  align-content: start;
}
.instructions {
  padding: 0.6em 0.6em 0 0.6em;
}
.pay table {
  width: 100%;
}
input[type="text"] {
  width: 100%;
}
.drink {
  flex: 0 0 auto;
  display: inline-block;
  margin: 1vw;
  position: relative;
  vertical-align: bottom;
  width: 100%;
}
@media only screen and (min-device-width: 500px) and (max-device-width: 830px) {
  .drink {
    width: 47.5%;
  }
}
@media only screen and (min-device-width: 830px) {
  .drink {
    width: 30%;
  }
}
.drink img {
  border-radius: 1em;
  height: var(--drink-base-height);
  object-fit: cover;
  width: 100%;
}
.drink img.paypal-spy-bullshit {
  display: none;
}
.drink .label {
  display: flex;
  font-size: 125%;
  height: 2em;
  left: 0.5em;
  position: absolute;
  top: calc(var(--drink-base-height) - 2.5em);
  z-index: 500;
}
.drink .label span {
  align-self: flex-end;
}
.drink .som-notes {
  height: calc(var(--drink-base-height) - 2em);
  width: calc(100% - 2em);
  left: 0;
  opacity: 0;
  padding: 1em;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  z-index: 100;
  border-radius: 1em;

  background: linear-gradient(
    113deg,
    hsla(165, 90%, 45%, 0),
    hsla(297, 100%, 48%, 0),
    hsla(32, 100%, 48%, 0),
    hsla(48, 100%, 48%, 0)
  );
  background-size: 800% 800%;
  animation: sexySlide 11s ease infinite;
  animation-duration: 11s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: sexySlide;
}

.drink .som-notes:hover {
  background: linear-gradient(
    113deg,
    hsla(165, 90%, 45%, 0.9),
    hsla(297, 100%, 48%, 0.9),
    hsla(32, 100%, 48%, 0.9),
    hsla(48, 100%, 48%, 0.9)
  );
  background-size: 800% 800%;
  animation: sexySlide 11s ease infinite;
  animation-duration: 11s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: sexySlide;
  opacity: 1;
}
.som-notes p {
  /* background-color: var(--sick-as-pink); */
  display: inline;
  /* outline: 7px solid var(--sick-as-pink); */
}

select {
  width: 100%;
}

@keyframes sexySlide {
  0% {
    background-position: 0% 23%;
  }
  50% {
    background-position: 100% 78%;
  }
  100% {
    background-position: 0% 23%;
  }
}
.explainer {
  max-width: 26em;
  margin: auto;
  padding: 0 1em 4em;
}
.map {
  background-image: url(deliveryArea.png);
  background-position: 55% 55%;
  background-size: 200%;
  height: 50vh;
  width: 100%;
}

/* thanks page */
img.thanks-dude {
  float: right;
  padding-right: 2em;
  max-width: calc(100vw - 2em);
}
body.thank-you-page {
  background: linear-gradient(113deg, #0bd9a4, #e700f3, #f38300, #f3c300);
  background-size: 800% 800%;
  animation: sexySlide 11s ease infinite;
  animation-duration: 11s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: sexySlide;
}

.thank-you-page p {
  padding-right: 2em;
  margin-bottom: 1em;
}
p.order-another {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
.button {
  background-color: hsla(0, 0%, 100%, 0);
  border-radius: 0.3em;
  border: 0.2em solid white;
  color: white;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5em 2em;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0, 0, 0.65, 2.74);
  transition: all;
}
.button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
  color: #e700f3;
}

@font-face {
  /* https://www.fontspace.com/ji-solid-balloon-caps-font-f5466 */
  font-family: "boobs";
  src: url("JiSolidBalloonCaps-lddX.ttf") format("truetype"); /* Safari, Android, iOS */
}
.legal {
  font-family: monospace;
  transition: all 1s ease;
  margin: auto;
  margin-top: 15em;
  max-width: 50%;
}
/* .legal:hover {
  -webkit-background-clip: text;
  background-image: url(https://www.youjustmademylist.com/wp-content/uploads/2011/01/vintage_ron_jeremy.jpg);
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  font-family: "boobs", fantasy;
  font-size: 1.7em;
  line-height: 0.9;
  text-align: center;
  padding: 0.5em;
  margin: 1em 0.5em;
  border: 4px solid aliceblue;
  border-radius: 1em;
  max-width: 100%;
} */
@media only screen and (min-device-width: 500px) and (max-device-width: 830px) {
  .legal {
    font-size: 1em;
  }
}
@media only screen and (min-device-width: 830px) {
  .legal {
    font-size: 1em;
  }
}
.legal li {
  display: block;
}
.serious {
  font-family: cursive;
}

.launch-preview {
  text-align: center;
  padding: 0.5em;
  padding-bottom: 3em;
  margin: 1em 0.5em;
  border: 4px solid aliceblue;
  border-radius: 1em;
}
