<div
  class="drink cocktail"
  id="{{ include.id }}"
  data-stripeID="{{ include.stripe_sku }}"
  style="background-image: url(https://placebear.com/300/30{{include.bearNum}});"
>
  <img src="./img/{{include.image}}" />
  <div class="som-notes">
    <p>{{ include.ingredients }}</p>
  </div>
  <div class="label"><span>{{ include.name }}</span></div>
  <div class="ctrl-wrapper">
    <div class="ctrl">
      <div class="ctrl__button ctrl__button--decrement">&ndash;</div>
      <div class="ctrl__counter">
        <input
          class="ctrl__counter-input"
          maxlength="10"
          type="text"
          value="0"
        />
        <div class="ctrl__counter-num" data-num="0">0</div>
      </div>
      <div class="ctrl__button ctrl__button--increment">+</div>
    </div>
  </div>
</div>
