<meta charset="utf-8" />
<!-- Add meta tags for mobile and IE -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="favicon/apple-touch-icon.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="favicon/favicon-16x16.png"
/>
<link rel="manifest" href="favicon/site.webmanifest" />
<link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5" />
<link rel="shortcut icon" href="favicon/favicon.ico" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="msapplication-config" content="favicon/browserconfig.xml" />
<meta name="theme-color" content="#ffd300" />

<link href="style.css" rel="stylesheet" type="text/css" />

<!-- PayPal BEGIN -->
<script>
  (function (a, t, o, m, s) {
    a[m] = a[m] || [];
    a[m].push({ t: new Date().getTime(), event: "snippetRun" });
    var f = t.getElementsByTagName(o)[0],
      e = t.createElement(o),
      d = m !== "paypalDDL" ? "&m=" + m : "";
    e.async = !0;
    e.src = "https://www.paypal.com/tagmanager/pptm.js?id=" + s + d;
    f.parentNode.insertBefore(e, f);
  })(
    window,
    document,
    "script",
    "paypalDDL",
    "1355780b-b280-4100-980a-fb8ab003dfb3"
  );
</script>
<!-- PayPal END -->
